<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="question" class="com.spring.constructor.withmap.Question">
		<constructor-arg value="11"></constructor-arg>
		<constructor-arg value="What is Java?"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key="Java is a Programming Language" value="John"></entry>
				<entry key="Java is a Platform" value=" Smith"></entry>
				<entry key="Java is an Island" value="maria"></entry>
			</map>
		</constructor-arg>
	</bean>

</beans>